@import "tooltip";

form .ds-notes {
    flex: 0 1 100%;
    margin: 0 0 0 calc(13px + 15rem);
    order: 3;
    font-size: var(--font-size-12);
    line-height: var(--line-height-16);
    color: var(--color-text-dark-secondary);
}

.ds-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: var(--z-index-ui);
}

.ds-loader img {
    height: 128px;
    width: 128px;
    opacity: 0.5;
    border: none;
    -webkit-animation: rotation 5s infinite linear;
}

.ds-centre-underline {
    border-bottom: 2px solid var(--color-underline-header);
    font-size: 5em;
    width: 100%;
    text-align: center;
}

.ds-subtitle {
    font-size: 1.7em;
    text-align: center;
    padding-top: 10px;
}

.ds-characters {
    position: relative;
    flex: 0 0 45px;
    justify-content: center;
}

.ds-character-image img {
    width: 45px;
    height: 45px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}